* {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.published_date {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 16px;
}
.date_title {
  background-color: #444956!important;
}
.date_title_partition {
  height: 30px;
  background-color: #eed390;
}
.title {
  font-size: 18px;
  color: #eed390;
}
.blog_img {
  width: 100%;
}
.blog_img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
/* .blog_content::after {
  position: absolute;
  counter-increment: page;
  content: counter(page);
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20;
} */
